<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.applet.common.mapper.CommentInfoMapper">
  <resultMap id="BaseResultMap" type="com.applet.common.entity.CommentInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="comment_user_id" jdbcType="INTEGER" property="commentUserId" />
    <result column="comment_content" jdbcType="VARCHAR" property="commentContent" />
    <result column="comment_img_1" jdbcType="VARCHAR" property="commentImg1" />
    <result column="comment_img_2" jdbcType="VARCHAR" property="commentImg2" />
    <result column="comment_img_3" jdbcType="VARCHAR" property="commentImg3" />
    <result column="comment_time" jdbcType="TIMESTAMP" property="commentTime" />
    <result column="comment_status" jdbcType="BIT" property="commentStatus" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, order_id, goods_id, comment_user_id, comment_content, comment_img_1, comment_img_2, 
    comment_img_3, comment_time, comment_status
  </sql>
  <select id="selectByExample" parameterType="com.applet.common.entity.CommentInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from comment_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <include refid="PageSuffix" />
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from comment_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from comment_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.applet.common.entity.CommentInfoExample">
    delete from comment_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.applet.common.entity.CommentInfo">
    insert into comment_info (id, order_id, goods_id, 
      comment_user_id, comment_content, comment_img_1, 
      comment_img_2, comment_img_3, comment_time, 
      comment_status)
    values (#{id,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, #{goodsId,jdbcType=INTEGER}, 
      #{commentUserId,jdbcType=INTEGER}, #{commentContent,jdbcType=VARCHAR}, #{commentImg1,jdbcType=VARCHAR}, 
      #{commentImg2,jdbcType=VARCHAR}, #{commentImg3,jdbcType=VARCHAR}, #{commentTime,jdbcType=TIMESTAMP}, 
      #{commentStatus,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" keyProperty="id" parameterType="com.applet.common.entity.CommentInfo" useGeneratedKeys="true">
    insert into comment_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="commentUserId != null">
        comment_user_id,
      </if>
      <if test="commentContent != null">
        comment_content,
      </if>
      <if test="commentImg1 != null">
        comment_img_1,
      </if>
      <if test="commentImg2 != null">
        comment_img_2,
      </if>
      <if test="commentImg3 != null">
        comment_img_3,
      </if>
      <if test="commentTime != null">
        comment_time,
      </if>
      <if test="commentStatus != null">
        comment_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="commentUserId != null">
        #{commentUserId,jdbcType=INTEGER},
      </if>
      <if test="commentContent != null">
        #{commentContent,jdbcType=VARCHAR},
      </if>
      <if test="commentImg1 != null">
        #{commentImg1,jdbcType=VARCHAR},
      </if>
      <if test="commentImg2 != null">
        #{commentImg2,jdbcType=VARCHAR},
      </if>
      <if test="commentImg3 != null">
        #{commentImg3,jdbcType=VARCHAR},
      </if>
      <if test="commentTime != null">
        #{commentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="commentStatus != null">
        #{commentStatus,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.applet.common.entity.CommentInfoExample" resultType="java.lang.Long">
    select count(*) from comment_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update comment_info
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.orderId != null">
        order_id = #{record.orderId,jdbcType=INTEGER},
      </if>
      <if test="record.goodsId != null">
        goods_id = #{record.goodsId,jdbcType=INTEGER},
      </if>
      <if test="record.commentUserId != null">
        comment_user_id = #{record.commentUserId,jdbcType=INTEGER},
      </if>
      <if test="record.commentContent != null">
        comment_content = #{record.commentContent,jdbcType=VARCHAR},
      </if>
      <if test="record.commentImg1 != null">
        comment_img_1 = #{record.commentImg1,jdbcType=VARCHAR},
      </if>
      <if test="record.commentImg2 != null">
        comment_img_2 = #{record.commentImg2,jdbcType=VARCHAR},
      </if>
      <if test="record.commentImg3 != null">
        comment_img_3 = #{record.commentImg3,jdbcType=VARCHAR},
      </if>
      <if test="record.commentTime != null">
        comment_time = #{record.commentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.commentStatus != null">
        comment_status = #{record.commentStatus,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update comment_info
    set id = #{record.id,jdbcType=INTEGER},
      order_id = #{record.orderId,jdbcType=INTEGER},
      goods_id = #{record.goodsId,jdbcType=INTEGER},
      comment_user_id = #{record.commentUserId,jdbcType=INTEGER},
      comment_content = #{record.commentContent,jdbcType=VARCHAR},
      comment_img_1 = #{record.commentImg1,jdbcType=VARCHAR},
      comment_img_2 = #{record.commentImg2,jdbcType=VARCHAR},
      comment_img_3 = #{record.commentImg3,jdbcType=VARCHAR},
      comment_time = #{record.commentTime,jdbcType=TIMESTAMP},
      comment_status = #{record.commentStatus,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.applet.common.entity.CommentInfo">
    update comment_info
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="commentUserId != null">
        comment_user_id = #{commentUserId,jdbcType=INTEGER},
      </if>
      <if test="commentContent != null">
        comment_content = #{commentContent,jdbcType=VARCHAR},
      </if>
      <if test="commentImg1 != null">
        comment_img_1 = #{commentImg1,jdbcType=VARCHAR},
      </if>
      <if test="commentImg2 != null">
        comment_img_2 = #{commentImg2,jdbcType=VARCHAR},
      </if>
      <if test="commentImg3 != null">
        comment_img_3 = #{commentImg3,jdbcType=VARCHAR},
      </if>
      <if test="commentTime != null">
        comment_time = #{commentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="commentStatus != null">
        comment_status = #{commentStatus,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.applet.common.entity.CommentInfo">
    update comment_info
    set order_id = #{orderId,jdbcType=INTEGER},
      goods_id = #{goodsId,jdbcType=INTEGER},
      comment_user_id = #{commentUserId,jdbcType=INTEGER},
      comment_content = #{commentContent,jdbcType=VARCHAR},
      comment_img_1 = #{commentImg1,jdbcType=VARCHAR},
      comment_img_2 = #{commentImg2,jdbcType=VARCHAR},
      comment_img_3 = #{commentImg3,jdbcType=VARCHAR},
      comment_time = #{commentTime,jdbcType=TIMESTAMP},
      comment_status = #{commentStatus,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <sql id="PageSuffix">
    <if test="page != null">
      limit #{page.rowStart},#{page.pageSize}
    </if>
  </sql>
</mapper>