<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.applet.common.mapper.CouponInfoMapper">
  <resultMap id="BaseResultMap" type="com.applet.common.entity.CouponInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="coupon_name" jdbcType="VARCHAR" property="couponName" />
    <result column="coupon_type" jdbcType="INTEGER" property="couponType" />
    <result column="gain_type" jdbcType="INTEGER" property="gainType" />
    <result column="gain_applet_id" jdbcType="INTEGER" property="gainAppletId" />
    <result column="gain_price" jdbcType="DOUBLE" property="gainPrice" />
    <result column="use_applet_id" jdbcType="INTEGER" property="useAppletId" />
    <result column="use_price" jdbcType="DOUBLE" property="usePrice" />
    <result column="denomination" jdbcType="DOUBLE" property="denomination" />
    <result column="make_issue_num" jdbcType="INTEGER" property="makeIssueNum" />
    <result column="already_issue_num" jdbcType="INTEGER" property="alreadyIssueNum" />
    <result column="activity_start" jdbcType="TIMESTAMP" property="activityStart" />
    <result column="activity_over" jdbcType="TIMESTAMP" property="activityOver" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, user_id, coupon_name, coupon_type, gain_type, gain_applet_id, gain_price, use_applet_id, 
    use_price, denomination, make_issue_num, already_issue_num, activity_start, activity_over, 
    create_time, status
  </sql>
  <select id="selectByExample" parameterType="com.applet.common.entity.CouponInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from coupon_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <include refid="PageSuffix" />
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from coupon_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from coupon_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.applet.common.entity.CouponInfoExample">
    delete from coupon_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.applet.common.entity.CouponInfo">
    insert into coupon_info (id, user_id, coupon_name, 
      coupon_type, gain_type, gain_applet_id, 
      gain_price, use_applet_id, use_price, 
      denomination, make_issue_num, already_issue_num, 
      activity_start, activity_over, create_time, 
      status)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{couponName,jdbcType=VARCHAR}, 
      #{couponType,jdbcType=INTEGER}, #{gainType,jdbcType=INTEGER}, #{gainAppletId,jdbcType=INTEGER}, 
      #{gainPrice,jdbcType=DOUBLE}, #{useAppletId,jdbcType=INTEGER}, #{usePrice,jdbcType=DOUBLE}, 
      #{denomination,jdbcType=DOUBLE}, #{makeIssueNum,jdbcType=INTEGER}, #{alreadyIssueNum,jdbcType=INTEGER}, 
      #{activityStart,jdbcType=TIMESTAMP}, #{activityOver,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyProperty="id" parameterType="com.applet.common.entity.CouponInfo" useGeneratedKeys="true">
    insert into coupon_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="couponName != null">
        coupon_name,
      </if>
      <if test="couponType != null">
        coupon_type,
      </if>
      <if test="gainType != null">
        gain_type,
      </if>
      <if test="gainAppletId != null">
        gain_applet_id,
      </if>
      <if test="gainPrice != null">
        gain_price,
      </if>
      <if test="useAppletId != null">
        use_applet_id,
      </if>
      <if test="usePrice != null">
        use_price,
      </if>
      <if test="denomination != null">
        denomination,
      </if>
      <if test="makeIssueNum != null">
        make_issue_num,
      </if>
      <if test="alreadyIssueNum != null">
        already_issue_num,
      </if>
      <if test="activityStart != null">
        activity_start,
      </if>
      <if test="activityOver != null">
        activity_over,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="couponName != null">
        #{couponName,jdbcType=VARCHAR},
      </if>
      <if test="couponType != null">
        #{couponType,jdbcType=INTEGER},
      </if>
      <if test="gainType != null">
        #{gainType,jdbcType=INTEGER},
      </if>
      <if test="gainAppletId != null">
        #{gainAppletId,jdbcType=INTEGER},
      </if>
      <if test="gainPrice != null">
        #{gainPrice,jdbcType=DOUBLE},
      </if>
      <if test="useAppletId != null">
        #{useAppletId,jdbcType=INTEGER},
      </if>
      <if test="usePrice != null">
        #{usePrice,jdbcType=DOUBLE},
      </if>
      <if test="denomination != null">
        #{denomination,jdbcType=DOUBLE},
      </if>
      <if test="makeIssueNum != null">
        #{makeIssueNum,jdbcType=INTEGER},
      </if>
      <if test="alreadyIssueNum != null">
        #{alreadyIssueNum,jdbcType=INTEGER},
      </if>
      <if test="activityStart != null">
        #{activityStart,jdbcType=TIMESTAMP},
      </if>
      <if test="activityOver != null">
        #{activityOver,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.applet.common.entity.CouponInfoExample" resultType="java.lang.Long">
    select count(*) from coupon_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update coupon_info
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.couponName != null">
        coupon_name = #{record.couponName,jdbcType=VARCHAR},
      </if>
      <if test="record.couponType != null">
        coupon_type = #{record.couponType,jdbcType=INTEGER},
      </if>
      <if test="record.gainType != null">
        gain_type = #{record.gainType,jdbcType=INTEGER},
      </if>
      <if test="record.gainAppletId != null">
        gain_applet_id = #{record.gainAppletId,jdbcType=INTEGER},
      </if>
      <if test="record.gainPrice != null">
        gain_price = #{record.gainPrice,jdbcType=DOUBLE},
      </if>
      <if test="record.useAppletId != null">
        use_applet_id = #{record.useAppletId,jdbcType=INTEGER},
      </if>
      <if test="record.usePrice != null">
        use_price = #{record.usePrice,jdbcType=DOUBLE},
      </if>
      <if test="record.denomination != null">
        denomination = #{record.denomination,jdbcType=DOUBLE},
      </if>
      <if test="record.makeIssueNum != null">
        make_issue_num = #{record.makeIssueNum,jdbcType=INTEGER},
      </if>
      <if test="record.alreadyIssueNum != null">
        already_issue_num = #{record.alreadyIssueNum,jdbcType=INTEGER},
      </if>
      <if test="record.activityStart != null">
        activity_start = #{record.activityStart,jdbcType=TIMESTAMP},
      </if>
      <if test="record.activityOver != null">
        activity_over = #{record.activityOver,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update coupon_info
    set id = #{record.id,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      coupon_name = #{record.couponName,jdbcType=VARCHAR},
      coupon_type = #{record.couponType,jdbcType=INTEGER},
      gain_type = #{record.gainType,jdbcType=INTEGER},
      gain_applet_id = #{record.gainAppletId,jdbcType=INTEGER},
      gain_price = #{record.gainPrice,jdbcType=DOUBLE},
      use_applet_id = #{record.useAppletId,jdbcType=INTEGER},
      use_price = #{record.usePrice,jdbcType=DOUBLE},
      denomination = #{record.denomination,jdbcType=DOUBLE},
      make_issue_num = #{record.makeIssueNum,jdbcType=INTEGER},
      already_issue_num = #{record.alreadyIssueNum,jdbcType=INTEGER},
      activity_start = #{record.activityStart,jdbcType=TIMESTAMP},
      activity_over = #{record.activityOver,jdbcType=TIMESTAMP},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      status = #{record.status,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.applet.common.entity.CouponInfo">
    update coupon_info
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="couponName != null">
        coupon_name = #{couponName,jdbcType=VARCHAR},
      </if>
      <if test="couponType != null">
        coupon_type = #{couponType,jdbcType=INTEGER},
      </if>
      <if test="gainType != null">
        gain_type = #{gainType,jdbcType=INTEGER},
      </if>
      <if test="gainAppletId != null">
        gain_applet_id = #{gainAppletId,jdbcType=INTEGER},
      </if>
      <if test="gainPrice != null">
        gain_price = #{gainPrice,jdbcType=DOUBLE},
      </if>
      <if test="useAppletId != null">
        use_applet_id = #{useAppletId,jdbcType=INTEGER},
      </if>
      <if test="usePrice != null">
        use_price = #{usePrice,jdbcType=DOUBLE},
      </if>
      <if test="denomination != null">
        denomination = #{denomination,jdbcType=DOUBLE},
      </if>
      <if test="makeIssueNum != null">
        make_issue_num = #{makeIssueNum,jdbcType=INTEGER},
      </if>
      <if test="alreadyIssueNum != null">
        already_issue_num = #{alreadyIssueNum,jdbcType=INTEGER},
      </if>
      <if test="activityStart != null">
        activity_start = #{activityStart,jdbcType=TIMESTAMP},
      </if>
      <if test="activityOver != null">
        activity_over = #{activityOver,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.applet.common.entity.CouponInfo">
    update coupon_info
    set user_id = #{userId,jdbcType=INTEGER},
      coupon_name = #{couponName,jdbcType=VARCHAR},
      coupon_type = #{couponType,jdbcType=INTEGER},
      gain_type = #{gainType,jdbcType=INTEGER},
      gain_applet_id = #{gainAppletId,jdbcType=INTEGER},
      gain_price = #{gainPrice,jdbcType=DOUBLE},
      use_applet_id = #{useAppletId,jdbcType=INTEGER},
      use_price = #{usePrice,jdbcType=DOUBLE},
      denomination = #{denomination,jdbcType=DOUBLE},
      make_issue_num = #{makeIssueNum,jdbcType=INTEGER},
      already_issue_num = #{alreadyIssueNum,jdbcType=INTEGER},
      activity_start = #{activityStart,jdbcType=TIMESTAMP},
      activity_over = #{activityOver,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <sql id="PageSuffix">
    <if test="page != null">
      limit #{page.rowStart},#{page.pageSize}
    </if>
  </sql>
</mapper>