<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.applet.common.mapper.UserGoodsSpreadImageMapper">
  <resultMap id="BaseResultMap" type="com.applet.common.entity.UserGoodsSpreadImage">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="applet_id" jdbcType="INTEGER" property="appletId" />
    <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="spread_image" jdbcType="VARCHAR" property="spreadImage" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="spread_status" jdbcType="BIT" property="spreadStatus" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, user_id, applet_id, goods_id, spread_image, update_time, spread_status
  </sql>
  <select id="selectByExample" parameterType="com.applet.common.entity.UserGoodsSpreadImageExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_goods_spread_image
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <include refid="PageSuffix" />
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_goods_spread_image
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_goods_spread_image
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.applet.common.entity.UserGoodsSpreadImageExample">
    delete from user_goods_spread_image
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.applet.common.entity.UserGoodsSpreadImage">
    insert into user_goods_spread_image (id, user_id, applet_id, 
      goods_id, spread_image, update_time, 
      spread_status)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{appletId,jdbcType=INTEGER}, 
      #{goodsId,jdbcType=INTEGER}, #{spreadImage,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{spreadStatus,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" keyProperty="id" parameterType="com.applet.common.entity.UserGoodsSpreadImage" useGeneratedKeys="true">
    insert into user_goods_spread_image
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="appletId != null">
        applet_id,
      </if>
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="spreadImage != null">
        spread_image,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="spreadStatus != null">
        spread_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="appletId != null">
        #{appletId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="spreadImage != null">
        #{spreadImage,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="spreadStatus != null">
        #{spreadStatus,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.applet.common.entity.UserGoodsSpreadImageExample" resultType="java.lang.Long">
    select count(*) from user_goods_spread_image
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update user_goods_spread_image
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.appletId != null">
        applet_id = #{record.appletId,jdbcType=INTEGER},
      </if>
      <if test="record.goodsId != null">
        goods_id = #{record.goodsId,jdbcType=INTEGER},
      </if>
      <if test="record.spreadImage != null">
        spread_image = #{record.spreadImage,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.spreadStatus != null">
        spread_status = #{record.spreadStatus,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update user_goods_spread_image
    set id = #{record.id,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      applet_id = #{record.appletId,jdbcType=INTEGER},
      goods_id = #{record.goodsId,jdbcType=INTEGER},
      spread_image = #{record.spreadImage,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      spread_status = #{record.spreadStatus,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.applet.common.entity.UserGoodsSpreadImage">
    update user_goods_spread_image
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="appletId != null">
        applet_id = #{appletId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="spreadImage != null">
        spread_image = #{spreadImage,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="spreadStatus != null">
        spread_status = #{spreadStatus,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.applet.common.entity.UserGoodsSpreadImage">
    update user_goods_spread_image
    set user_id = #{userId,jdbcType=INTEGER},
      applet_id = #{appletId,jdbcType=INTEGER},
      goods_id = #{goodsId,jdbcType=INTEGER},
      spread_image = #{spreadImage,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      spread_status = #{spreadStatus,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <sql id="PageSuffix">
    <if test="page != null">
      limit #{page.rowStart},#{page.pageSize}
    </if>
  </sql>
</mapper>