<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.applet.common.mapper.ViewCommentReplyRecordMapper">
  <resultMap id="BaseResultMap" type="com.applet.common.entity.ViewCommentReplyRecord">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="comment_id" jdbcType="INTEGER" property="commentId" />
    <result column="aim_user_id" jdbcType="INTEGER" property="aimUserId" />
    <result column="aim_nick_name" jdbcType="VARCHAR" property="aimNickName" />
    <result column="aim_avatar_url" jdbcType="VARCHAR" property="aimAvatarUrl" />
    <result column="reply_user_id" jdbcType="INTEGER" property="replyUserId" />
    <result column="reply_nick_name" jdbcType="VARCHAR" property="replyNickName" />
    <result column="reply_avatar_url" jdbcType="VARCHAR" property="replyAvatarUrl" />
    <result column="reply_content" jdbcType="VARCHAR" property="replyContent" />
    <result column="reply_index" jdbcType="INTEGER" property="replyIndex" />
    <result column="reply_time" jdbcType="TIMESTAMP" property="replyTime" />
    <result column="reply_status" jdbcType="BIT" property="replyStatus" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, comment_id, aim_user_id, aim_nick_name, aim_avatar_url, reply_user_id, reply_nick_name, 
    reply_avatar_url, reply_content, reply_index, reply_time, reply_status
  </sql>
  <select id="selectByExample" parameterType="com.applet.common.entity.ViewCommentReplyRecordExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from view_comment_reply_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <include refid="PageSuffix" />
  </select>
  <select id="countByExample" parameterType="com.applet.common.entity.ViewCommentReplyRecordExample" resultType="java.lang.Long">
    select count(*) from view_comment_reply_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <sql id="PageSuffix">
    <if test="page != null">
      limit #{page.rowStart},#{page.pageSize}
    </if>
  </sql>
</mapper>