<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.applet.apply.mapper.SaleOrderTimelineMapper" >
  <resultMap id="BaseResultMap" type="com.applet.apply.entity.SaleOrderTimeline" >
    <id column="order_timeline_id" property="orderTimelineId" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="order_status" property="orderStatus" jdbcType="TINYINT" />
    <result column="order_status_cn" property="orderStatusCn" jdbcType="TINYINT" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    order_timeline_id, order_id, order_status, order_status_cn, gmt_created
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sale_order_timeline
    where order_timeline_id = #{orderTimelineId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sale_order_timeline
    where order_timeline_id = #{orderTimelineId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.applet.apply.entity.SaleOrderTimeline" >
    <selectKey resultType="java.lang.Integer" keyProperty="orderTimelineId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sale_order_timeline (order_id, order_status, order_status_cn, 
      gmt_created)
    values (#{orderId,jdbcType=INTEGER}, #{orderStatus,jdbcType=TINYINT}, #{orderStatusCn,jdbcType=TINYINT}, 
      #{gmtCreated,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.applet.apply.entity.SaleOrderTimeline" >
    <selectKey resultType="java.lang.Integer" keyProperty="orderTimelineId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sale_order_timeline
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="orderStatus != null" >
        order_status,
      </if>
      <if test="orderStatusCn != null" >
        order_status_cn,
      </if>
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="orderStatus != null" >
        #{orderStatus,jdbcType=TINYINT},
      </if>
      <if test="orderStatusCn != null" >
        #{orderStatusCn,jdbcType=TINYINT},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.applet.apply.entity.SaleOrderTimeline" >
    update sale_order_timeline
    <set >
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="orderStatus != null" >
        order_status = #{orderStatus,jdbcType=TINYINT},
      </if>
      <if test="orderStatusCn != null" >
        order_status_cn = #{orderStatusCn,jdbcType=TINYINT},
      </if>
      <if test="gmtCreated != null" >
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
    </set>
    where order_timeline_id = #{orderTimelineId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.applet.apply.entity.SaleOrderTimeline" >
    update sale_order_timeline
    set order_id = #{orderId,jdbcType=INTEGER},
      order_status = #{orderStatus,jdbcType=TINYINT},
      order_status_cn = #{orderStatusCn,jdbcType=TINYINT},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP}
    where order_timeline_id = #{orderTimelineId,jdbcType=INTEGER}
  </update>
</mapper>